<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Registration Confirmation</h1>
<p>
   Thank you for registering for the SPARK A&M Conference!
</p>
</body>
</html>
