<% if admin_logged_in? %>
<div align = "left"><%= button_to "Back", admins_super_admin_path, :method => "get" %></div>
<p style="color:red"><%= notice %></p>
<h1>Change Right Signature  URL</h1>

<%= render 'change_right_sig_url_form' %>

<% end %>

