<div class=center>
<table>
    <tbody>
        <tr><h1>Subject</h1>
            <form action="" id="email">
            <input type="text" name="subject">
            <br></form>
        </tr>
        <tr><h1>Email Content</h1>
            <textarea rows="20" cols="80" name="email_text" form="email">
            Enter text here...</textarea>
        </tr>
        <tr>
            <button id = "submit_email"> submit </button>
        </tr>
    </tbody>
</table>
</div>

