      <form action="" id="email">Subject
      <input type="text" name="subject">
      <br>
      </form>
      <textarea rows="4" cols="50" name="email_text" form="email">
      Enter text here...</textarea>
      <button id = "popupclose"> submit </button>