<div class=center>
<%= form_tag("edit_email") do %>
<table>
    <tbody>
        <tr><h1>Subject</h1>
            <%= text_field_tag :subject %>
            <br></form>
        </tr>
        <tr><h1>Email Content</h1>
            <%= text_area_tag(:email_text, size: "20x80") %>
        </tr>
        <tr>
              
              <%= submit_tag("Submit email") %>
              <% end %>
        </tr>
    </tbody>
</table>
</div>