<div class=center>
<table>
    <tbody>
        <tr><h1>Subject</h1>
            <form action="" id="email">
            <input type="text" name="subject">
            <br></form>
        </tr>
        <tr><h1>Email Content</h1>
            <textarea rows="20" cols="80" name="email_text" form="email">Enter text here...</textarea>
        </tr>
        <tr>
              <%= form_tag("edit_email") do %>
              <%= submit_tag("Submit email") %>
        </tr>
    </tbody>
</table>
</div>

