<div id="email_popup">
    <div class="subject">
      <form action="" id="email">Subject
      <input type="text" name="subject">
      <br>
      </form>
    </div>
    <div class="email_text">
      <textarea rows="4" cols="50" name="email_text" form="email">
      Enter text here...</textarea>
    </div>
    <div class="popupcontrols">
      <button id = "popupclose"> submit </button>
    </div>
</div>