<table>
    <tbody>
        <tr>
            <form action="" id="email">Subject
            <input type="text" name="subject">
            <br></form>
        </tr>
        <tr>
            <textarea rows="50" cols="100" name="email_text" form="email">
            Enter text here...</textarea>
        </tr>
        <tr>
            <button id = "submit_email"> submit </button>
        </tr>
    </tbody>
</table>

