<table>
    <tbody>
   <tr>
        <form action="" id="email">Subject
        <input type="text" name="subject">
        <br></form>
    </tr>
    <tr>
       <textarea rows="4" cols="50" name="email_text" form="email">
        Enter text here...</textarea>
    </tr>
   <tr><button id = "popupclose"> submit </button></tr>
   </tbody>
</table>

