<div>
	<%= link_to "Advisor & Student Information", admins_see_info_path %>
</div>
<div>
    <%= link_to "Change Email", changelogin_admin_path(@id) %>
</div>
<div>
    <%= link_to "Change Password", changepassword_admin_path(@id) %>
</div>
<%= button_to "Logout", admin_log_out_path, :method => "get" %>