<a href="/admins/index">
        Admin Information
</a>
<br>
<a href="/admins/new">
        Create a New Admin
</a>
<br>
<a href="/admins/changelogin">
        Change Email
</a>
<br>
<a href="/admins/changepassword">
        Change Password
</a>
 <br>
<%= button_to "Logout", admin_log_out_path, :method => "get" %>