<a href="/admins/index">
        Admin Information
</a>
<br>
<a href="/admins/new">
        Create a New Admin
</a>
<br>
<a href="/admins/changelogin">
        Change Email
</a>
<br>
<a href="/admins/changepassword">
        Change Password
</a>
<br>
<a href="/admins/change_market_url">
        Change Marketplace URL
</a><br>
<a href="/admins/change_right_sig_url">
        Change Right Signature URL
</a>
 
<%= button_to "Logout", admin_log_out_path, :method => "get" %>