<!--% if admin_logged_in? %>
shouldn't work atm. need to define a student_logged_in variable to replace the admin one
-->

<p style="color:red"><%= notice %></p>
<h1>Change Student Email</h1>

<%= render 'changeloginform' %>

<% end %>

