<p id="notice"><%= notice %></p>

<h1> Your Information</h1>
<p> Full Name:  <% :session[:user].first_name%></p>
<p> Email:  <% :session[:user].email %></p>
<p> School Name:  <% :session[:user].school_name %></p>
<p> School Level:  <% :session[:user].school_level %></p>

<%= link_to 'New Student user', new_student_user_path %>
